.edit-button {
    font-family: inherit;
}

.edit-button button {
    background-color: #000000;
    border: 1px solid black;
    font-family: pristina;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 25%;
    border-radius: 8px;
}

.edit-button button:hover {
    background-color: #696969;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}