body{
	margin: 0;
	padding: 0;
	background: url(sushi-cartoon-japanese-food-illustration-cute-salmon-sashimi-with-rice-seafood-white-background-cuisine-with-seaweed_109722-1965.jpg);
	background-size: cover;
	background-position: center;
}

.sign-in-box{
	width: 320px;
	height: 485px;
	background-color: #000000;
	color: #ffffff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing:  border-box;
	padding: 70px 30px;
	font-family: pristina;
}

.sign-in-logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	background-color: #ffffff;
	font-family: pristina;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-family: pristina;
	font-size: 25px;
}

.sign-in-box p{
	font-family: pristina;
	margin: 0;
	padding: 0;
}

.sign-in-box input{
	font-family: pristina;
	width: 100%;
	margin-bottom: 20px;
}

.sign-in-box input[type="text"]{
	font-family: pristina;
	border: none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	outline: none;
	height: 35px;
	color: #ffffff;
	font-size: 15px;
}

.sign-in-box input[type="password"]{
	font-family: pristina;
	border: none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	outline: none;
	height: 35px;
	color: #ffffff;
	font-size: 15px;
}

.sign-in-box input[type="submit"]{
	font-family: pristina;
	border: none;
	outline: none;
	height: 35px;
	background: #ffffff;
	color: #000000;
	font-family: pristina;
	font-size: 18px;
	border-radius: 20px;
}

.sign-in-box input[type="submit"]:hover{
	font-family: pristina;
	cursor: pointer;
	background: #aaaaaa;
	color: #000000;
}

.sign-in-box a{
	text-decoration: none;
	font-family: pristina;
	font-size: 15px;
	line-height: 20px;
	color: #aaaaaa;
}